.top{background-color: #D8D8D8;padding: 20px; height: 60px;}
.menu{width: 60px; height: 60px; background-color: #4A90E2;}

.content{padding: 80px 20px; font-size: 20px;}

.colors{height: 150px;}
.color-1{background-color: #4A90E2}
.color-2{background-color: #50E3C2}
.color-3{background-color: #B8E986}
.color-4{background-color: #F8E71C}
