body{background-color: #eee;}
header{width: 100%; height: 200px; background-color: #666;}
section{width: 70%; margin: 0 auto; height: 70vh; background-color: #fff}
footer{width: 70%; margin: 0 auto; height: 150px; background-color: #000;}
